[Unit]
Description=MySQL Exporter
After=network.target

[Service]
User=nobody
Environment="DATA_SOURCE_NAME=exporter:password@(localhost:3306)/"
ExecStart=/opt/mysqld_exporter/mysqld_exporter

[Install]
WantedBy=multi-user.target
