[Unit]
Description=Node Exporter
After=network.target

[Service]
User=nobody
ExecStart=/opt/node_exporter/node_exporter

[Install]
WantedBy=multi-user.target
